.bookmark-item {
  display: flex;
  flex-direction: column;
}

.onclick-menu {
    position: relative;
    display: inline-block;
    margin: -10 0 -5 0;
}
.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
}
.onclick-menu:focus .onclick-menu-contents {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}
.onclick-menu-contents {
    position: absolute;
    z-index: 1;
    overflow-y: auto;
    max-height: 100px;
    background: white;
    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}
